@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

body {
  margin: 0;
  font-family: "Sedan SC", serif;
  background-color: #f9f4f1;
}
/* navbar -- adjusted for mobile  */
.navbar-cart {
  position: relative;
  display: flex;
  align-items: center;
}
/* cart */
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: palevioletred;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f4f1;
  padding: 10px 20px;
}
.logo img {
  height: auto;
  width: 150px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  color: #27221f;
  text-decoration: none;
  font-size: 16px;
}
.nav-links a:hover {
  color: #dabd8a;
}
.nav-links a.active {
  color: palevioletred;
}

/* Home-page slideshow paragraph */
.kt-paragraph {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
@media (max-width: 768px) {
  .kt-paragraph {
    font-size: 15px; /* Adjust the font size for smaller screens */
    background-color: #f9f4f1;
    padding: 20px 20px 20px 20px;
  }
}
.background-size-slideshow {
  padding: 15rem 0rem; /* Adjust the padding as needed */
}

@media (max-width: 768px) {
  .background-size-slideshow {
    padding: 10rem 0rem;
  }
}

/* About Section */
.About-content {
  text-align: center;
  color: #27221f;
  font-size: 16px;
  padding-bottom: 100px;
}

.image-div {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}

/* slideshow */
.slideshow-container {
  padding-bottom: 100px;
  margin-bottom: 100px;
  width: 50%;
  max-width: 100%;
  /* margin: 0 auto; */
}
.box-slideshow {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  /* border: 1px solid #27221f; */
  margin: 30px;
  padding: 30px 50px 50px 30px;
}

@media (max-width: 768px) {
  .slideshow-container {
    width: 80%;
  }
  .box-slideshow {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .slideshow-container {
    width: 90%; /* Further adjust container width for very small screens */
  }

  .box-slideshow {
    padding: 10px; /* Further adjust padding for very small screens */
  }
}

.social-media {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f4f1;
  text-align: center;
  padding: 10px 0;
}
.social-media a {
  color: #27221f;
  margin: 0 10px;
}
.social-media a:hover {
  color: palevioletred;
}

.social-media svg {
  width: 30px;
  height: 30px;
}
.footer-bar {
  width: 100%;
  padding: 20px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.social-media a {
  color: #27221f;
}

/* CSS slideshow button */
.button-75 {
  align-items: center;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(0.9);
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}
.paragraph {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: right;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  border-radius: 4px;
  /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}
.content:hover {
  transform: scale(1.1);
  /* box-shadow: 0 0 10px palevioletred; */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background: linear-gradient(to bottom, palevioletred, pink);
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
.service-item {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px palevioletred;
}
.add-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

.remove-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

/* aboutpage */
.about-container {
  display: flex;
}
.column-one {
  flex: 1; /* Each column gets an equal share of the available space */
  border: 1px solid black; /* Optional: Add borders for visual separation */
  padding: 20px; /* Optional: Add padding for spacing */
}
.column-two {
  flex: 1; /* Each column gets an equal share of the available space */
  border: 1px solid black; /* Optional: Add borders for visual separation */
  padding: 20px; /* Optional: Add padding for spacing */
}
.column-three {
  flex: 1; /* Each column gets an equal share of the available space */
  border: 1px solid black; /* Optional: Add borders for visual separation */
  padding: 20px; /* Optional: Add padding for spacing */
  /* padding-top: 100px; */
}
.about-paragraph {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}
.column-one img {
  height: 600px;
}
.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Adjust the max-width as needed */
}

iframe {
  width: 100%;
  border: none;
  overflow: hidden;
}
